
# The name/alis of the humidifier plug as configured  
plug_name=HumidifierOutlet

# Interval between cycles in minutes
interval=2

# Adjutment for indoor RH reading. It can be a positive or negative value
RH_adjustment=true

# Maximum indoor RH. Preferred not to exceed 40%
max_RH=40

# Fallback outdoor temperature when a live reading is not available
fallback_temp=-1